.bgblue{
    background-color:#7C4EE4;
    

}
.bgblue1{
    color: #7C4EE4;
}
.bgblue2{
    border-color: #7C4EE4;
}
.card {
    border: none;
}

.card-img-top {
    width: 100%;
    height: 260px;
    object-fit: cover;
}